@charset 'utf-8';

/* 공통부분 */

.font-size1{font-size: 20px;}
.font-size2{font-size: 17px;}
.font-size3{font-size: 15px;}
.font-size4{font-size: 12px;}
.font-size5{font-size: 30px;}

.icon-height1{line-height: 35px;}