<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DevBoardMapper">


	<!-- 게시글 리스트 검색 -->
	<select id="selectDevBoardList" resultType="hashmap" parameterType="hashmap">
	select *
	  from (
	      select @ROWNUM := @ROWNUM +1 as rn
	      		 , board_no
				 , title
				 , board_content
				 , user_id 
				 , IFNULL(view_cnt, 0) as view_cnt 
				 , DATE_FORMAT(reg_date,'%Y-%m-%d') as reg_date 
				 , date_format(IFNULL(mod_date, reg_date),'%Y-%m-%d') as mod_date
			  from t_board 
			  where (@ROWNUM:=0)=0
			  	<if test="searchType == '01'">
			  		and title Like CONCAT('%',#{searchText},'%')
			  	</if>
			  	<if test="searchType == '02'">
			  		and board_content Like CONCAT('%',#{searchText},'%')
			  	</if>
			  	<if test="searchType == '03'">
			  		and user_id Like CONCAT('%',#{searchText},'%')
			  	</if>
		   ) num
	  ORDER  by rn DESC
	</select>
	
	
	<!-- 게시글 상세 검색 -->
	<select id="getBoardDetail" resultType="com.example.portfolio.model.DevBoardVO" parameterType="com.example.portfolio.model.DevBoardVO">
		select tb.board_no
			  , tu.username 	 
			  , tb.title
			  , tb.board_content 
			  , tb.user_id 
			  , DATE_FORMAT(tb.reg_date,'%Y-%m-%d') as reg_date 
			  , IFNULL(tb.mod_date, DATE_FORMAT(tb.reg_date,'%Y-%m-%d')) as mod_date
			  , IFNULL(tb.view_cnt , 0) as view_cnt  
		from t_user tu, t_board tb
		where tu.user_id = tb.user_id and tb.board_no = #{boardNo}
		
	</select>

	<!-- 조회수 업데이트  -->
	<update id="updateBoardViewCnt" parameterType="int">
		UPDATE t_board 
			set view_cnt = IFNULL(view_cnt, 0) + 1
		WHERE board_no = #{boardNo}
	</update>
	
	
	
	<delete id="deleteBoardDetail" parameterType="com.example.portfolio.model.DevBoardVO">
		DELETE 
		  from t_board 
		 where board_no = #{boardNo}
	</delete>

<!-- 게시글 작성하기 -->
	<insert id="insertBoardDetail" parameterType="com.example.portfolio.model.DevBoardVO">
		INSERT into 
			t_board (
						board_no
					  , title
					  , board_content
					  , user_id
					  , reg_date
					 ) 
			values (
						(select MAX(a.board_no) + 1 from t_board a)
						, #{title}
						, #{boardContent}
						, #{userId}
						, now()
					)
	</insert>

<!--     게시글 수정 부분 -->
	<update id="updateBoardDetail" parameterType="com.example.portfolio.model.DevBoardVO">
		UPDATE t_board 
		   set title 			= #{title}
		     , board_content 	= #{boardContent}
		     , mod_date 		= now()
		 where board_no 		= #{boardNo}
	</update>
  	
	




	<select id="selectDevBoardDetail" resultType="hashmap" parameterType="int">
		select tb.board_no ,tb.title ,tb.board_content, tu.user_id ,tu.username ,tu.email ,tb.reg_date 
		  from t_user tu ,t_board tb 
		 where tu.user_id = tb.user_id 
		   And tb.board_no = #{boardNo}
		  
	</select>
	
	<select id="selectDevBoardUser" resultType="hashmap" parameterType="hashmap">
		select DISTINCT tb.board_no ,tb.title ,tb.board_content, tu.user_id ,tu.username ,tu.email ,tb.reg_date 
		  from t_user tu ,t_board tb 
		 where tu.user_id = tb.user_id 
		   And tu.user_id = #{userid}
		   And tb.title = #{text}
	</select>
	

	<select id="getDevBoardCount" resultType="hashmap" >
		select count(*) as cnt
		  from dev_board
	</select>
	
	

	<sql id="search">
		<choose>
			<when test="searchOpt == 'all'">
				WHERE subject LIKE CONCAT('%', #{words},'%')
				OR writer
				LIKE CONCAT( '%', #{words}, '%')
			</when>
			<otherwise>WHERE ${searchOpt} LIKE CONCAT('%', #{words}, '%')
			</otherwise>
		</choose>
	</sql>


	<select id="getBoardConfig" resultType="boardvo">
		SELECT
		boardColor,
		boardName
		FROM
		board
		WHERE
		boardCode = #{boardCode}
	</select>

	<insert id="setBoardContents">
		INSERT INTO
			grp_board
			SET
			grp_id = #{grp_id},
			grpBoard_subject = #{grpBoard_subject},
			grpBoard_writer = #{grpBoard_writer},
			grpBoard_boardType  = #{grpBoard_boardType},
			grpBoard_boardContents = #{grpBoard_boardContents},
			grpBoard_hit = #{grpBoard_hit},
			grpBoard_fileName = #{grpBoard_fileName},
			grpBoard_fileOriName = #{grpBoard_fileOriName},
			grpBoard_fileUrl = #{grpBoard_fileUrl},
			grpboard_ref = #{grpboard_ref},
			grpboard_re_step = #{grpboard_re_step},
			grpboard_re_level = #{grpboard_re_level}
<!-- 		<selectKey resultType="int" keyProperty="ref" order="BEFORE">
			예외처리 ) 기존 ref 값을 + 1을 해서 뒤에 게시물의 ref으로 사용 max == count 와 같다
			SELECT IFNULL(MAX(ref), 0) +1 FROM gat_article_${boardCode}만약에 널값이 
				들어가 있으면 0으로 바꾸고/치환하고 1을 더하라
		</selectKey>
		ref = #{ref},게시물정렬기존에 
			있는 값을 가져와서 +1
		re_step = 0, 	 답글 그룹처리
		re_level = 0 	 몇번째 답글
 -->
 	</insert>

	<!-- 작성한 게시판 목록 확인 -->
<!-- 	<select id="getArticleList" resultType="articlevo"> -->

		<!-- SELECT -->
		<!-- aid, subject, writer, hit, re_level, date_format(regdate, '%Y-%m-%d') 
			as regdate -->
		<!-- FROM -->
		<!-- gat_article_${boardCode} -->
		<!-- ORDER BY -->
		<!-- ref DESC, -->
		<!-- re_step ASC -->

		<!-- 게시판 -->
<!-- 		SELECT a.*, (SELECT COUNT(c.cid) FROM gat_comment_${boardCode} as c -->
<!-- 		WHERE a.aid = c.aid) as cnt FROM gat_article_${boardCode} as a -->
<!-- 		<include refid="search"></include> -->
<!-- 		ORDER BY ref DESC, re_step ASC LIMIT #{start}, #{end} -->

<!-- 	</select> -->

	<!--작성한 전체 게시물 순서정렬 -->
<!-- 	<select id="getArticleCount" resultType="int"> -->
<!-- 		SELECT COUNT(aid) FROM gat_article_${boardCode} -->
<!-- 		<include refid="search"></include>  -->
<!-- 	</select> -->

	<!-- 5월 15일 게시판에 들어 가고 나서 조회수 하는 부분 -->
	<update id="hitUp">
		UPDATE gat_article_${boardCode} SET hit = hit + 1
		WHERE aid = #{aid}
	</update>


	<!-- 작성한 게시판 목록 확인 -->
	<!-- <select id="getArticleView" parameterType="hashMap"
		resultType="articlevo">

		SELECT
		aid,
		subject,
		writer,
		content,
		hit,
		fileName,
		fileOriName,
		fileUrl,
		date_format(regdate, '%Y-%m-%d') as regdate
		FROM
		gat_article_${boardCode}
		WHERE
		aid = #{aid}

	</select> -->

	<!-- 게시판 목록 삭제 부분 -->
	<delete id="setArticleDelete">
		DELETE FROM gat_article_${boardCode} WHERE aid=#{aid}
	</delete>

	<!-- 게시판 선택 목록 삭제 부분 -->
	<delete id="setArticleDeleteAll">
		DELETE FROM gat_article_${boardCode} WHERE aid=#{aid}
	</delete>

	<!-- 답변 게시판 작성 -->

	<!-- <select id="getArticleReplyInfo" resultType="articlevo">
		SELECT
		aid, ref,
		re_step, re_level
		FROM
		gat_article_${boardCode} WHERE aid =#{aid};
	</select>기존 게시물 정보를 가져 와서 -->

	<update id="setArticleRef">
		UPDATE
		gat_article_${boardCode}
		SET
		re_step= re_step +
		1,
		regdate = now()
		WHERE
		ref = #{ref} AND re_step > #{re_step}
	</update><!-- 답글의 위치를 바꿔 주고 -->

	<insert id="setArticleReply">
		INSERT INTO gat_article_${boardCode} SET

		subject =
		#{subject},
		writer = #{writer},
		content = #{content},
		fileName =
		#{fileName},
		fileOriName = #{fileOriName},
		fileUrl = #{fileUrl},
		ref =
		#{ref},
		re_step = #{re_step} + 1,
		re_level = #{re_level} + 1
	</insert><!-- 답글을 저장 -->


	<update id="setArticleUpdate">
		UPDATE gat_article_${boardCode}

		SET subject =
		#{subject},
		content = #{content}

		WHERE aid = #{aid}
	</update>




</mapper>