<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UserDetailMapper">


	<!-- 컬럼(column)변수($), 데이터 변수(#) -->
	<sql id="search">
		<choose>
			<when test="searchOpt == 'all'">
				WHERE userID LIKE CONCAT('%',#{words},'%')
				OR
				department LIKE CONCAT('%',#{words},'%')
				OR userRank LIKE
				CONCAT('%',#{words},'%')
				OR userName LIKE CONCAT('%',#{words},'%')
			</when>

			<otherwise>
				WHERE ${searchOpt} LIKE CONCAT('%',#{words},'%')
			</otherwise>
		</choose>
	</sql>


	<!-- register 사원 상세 입력 부분 -->
	<insert id="setUserNewInfo">
		INSERT INTO
			newDetailInfo
		SET
			udid 				= #{udid},
			grp_userGender		= #{grp_userGender},
			grp_userBirth		= #{grp_userBirth},
			grp_lunarCalendar	= #{grp_lunarCalendar},
			grp_extension		= #{grp_extension},
			grp_extensionNumber	= #{grp_extensionNumber},
			grp_tele			= #{grp_tele},
			grp_telephone		= #{grp_telephone},
			grp_recruitment		= #{grp_recruitment},
			grp_hopeJob			= #{grp_hopeJob},
			grp_userHeight		= #{grp_userHeight},
			grp_userWeight		= #{grp_userWeight},
			grp_militaryService	= #{grp_militaryService},
			grp_religion		= #{grp_religion},
			grp_userHobby		= #{grp_userHobby},
			grp_userSpecialty	= #{grp_userSpecialty},
			grp_disabledCk		= #{grp_disabledCk},
			grp_veteransCk		= #{grp_veteransCk},
			grp_marriageCk		= #{grp_marriageCk},
			grp_finalEducation	= #{grp_finalEducation},
			grp_graduationYear	= #{grp_graduationYear},
			grp_graduate		= #{grp_graduate},
			grp_university		= #{grp_university},
			grp_grades			= #{grp_grades},
			grp_graduation		= #{grp_graduation},
			grp_aboutMe			= #{grp_aboutMe},
			grp_userRegdate		= now()


	</insert>
	<!-- 사원 정보 보는 리스트 -->
	<select id="getNewUserDetail" resultType="userDetailvo">
		SELECT * FROM
		newDetailInfo WHERE udid = #{uid}
	</select>

	<!-- 사원 상세 수정 -->
	<update id="updateDetailView">
		
		UPDATE newDetailInfo SET
			
			grp_userGender 		= #{grp_userGender},
			grp_userBirth 		= #{grp_userBirth},
			grp_lunarCalendar	= #{grp_lunarCalendar},
			grp_tele 			= #{grp_tele},
			grp_telephone 		= #{grp_telephone},
			grp_hopeJob 		= #{grp_hopeJob},
			grp_userHeight 		= #{grp_userHeight},
			grp_userWeight 		= #{grp_userWeight},
			grp_religion 		= #{grp_religion},
			grp_userHobby 		= #{grp_userHobby},
			grp_userSpecialty 	= #{grp_userSpecialty},
			grp_disabledCk 		= #{grp_disabledCk},
			grp_veteransCk	 	= #{grp_veteransCk},
			grp_marriageCk 		= #{grp_marriageCk},
			grp_finalEducation 	= #{grp_finalEducation},
			grp_graduationYear 	= #{grp_graduationYear},
			grp_graduate 		= #{grp_graduate},
			grp_university 		= #{grp_university},
			grp_grades 			= #{grp_grades},
			grp_graduation 		= #{grp_graduation},
			grp_aboutMe 		= #{grp_aboutMe}	
			
		WHERE udid = #{udid}
	</update>
<!-- 	<select id="userDetailList" resultType="userDetailvo"> -->
<!-- 		SELECT udid FROM newDetailInfo -->
<!-- 	</select> -->

	<!-- 사원 검색 및 카운팅 -->
	<!-- <select id="getDetailCount" resultType="int"> SELECT COUNT(*) FROM 
		detailInfo </select> -->	<!--사원 상세 정보 보는 부분 -->
	<!-- <select id="getUserDetailInfo" resultType="userDetailvo"> SELECT * 
		FROM detailInfo where uid = #{uid} </select> -->	<!-- <update id="modify"> update detailinfo set name=#{name}, birth=#{birth} 
		<if test="pwd != null"> pwd=#{pwd} </if> </update> -->
</mapper>