<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UserDetailMapper">


	<!-- 컬럼(column)변수($), 데이터 변수(#) -->
	<sql id="search">
		<choose>
			<when test="searchOpt == 'all'">
				WHERE userID LIKE CONCAT('%',#{words},'%')
				OR
				department LIKE CONCAT('%',#{words},'%')
				OR userRank LIKE
				CONCAT('%',#{words},'%')
				OR userName LIKE CONCAT('%',#{words},'%')
			</when>

			<otherwise>
				WHERE ${searchOpt} LIKE CONCAT('%',#{words},'%')
			</otherwise>
		</choose>
	</sql>


	<!-- register 사원 상세 입력 부분 -->
	<insert id="setUserDetail">
		INSERT INTO
		detailInfo
		SET
		uid = #{uid},
		detail_id = #{detail_id},
		userName = #{userName},
		userGender = #{userGender},
		userBirth = #{userBirth},
		lunarCalendar = #{lunarCalendar},
		phone = #{phone},
		userPhone = #{userPhone},
		extension = #{extension},
		extensionNumber = #{extensionNumber},
		tele = #{tele},
		telephone = #{telephone},
		recruitment = #{recruitment},
		hopeJob = #{hopeJob},
		userHeight = #{userHeight},
		userWeight = #{userWeight},
		militaryService = #{militaryService},
		religion = #{religion},
		userHobby = #{userHobby},
		userSpecialty = #{userSpecialty},
		disabledCk = #{disabledCk},
		veteransCk = #{veteransCk},
		marriageCk = #{marriageCk},
		aboutMe = #{aboutMe},
		userRegdate = now()
	</insert>

	<!--사원 상세 정보 보는 부분 -->
	<select id="getUserDetailInfo">
		SELECT *  FROM detailInfo ORDER BY uid DESC limit
	</select>


</mapper>