<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.UsersMapper">


	<!-- 컬럼(column)변수($), 데이터 변수(#) -->
	<sql id="search">
		<choose>
			<when test = "searchOpt == 'all'">
				WHERE userID LIKE CONCAT('%',#{words},'%')
				OR department LIKE CONCAT('%',#{words},'%')
				OR userRank LIKE CONCAT('%',#{words},'%')
				OR userName LIKE CONCAT('%',#{words},'%')
			</when>
		
			<otherwise>
				WHERE ${searchOpt} LIKE CONCAT('%',#{words},'%')
			</otherwise>
		</choose>
	</sql>


	<!-- register 회원가입 입력하는 부분 -->
	<insert id ="setUser">
		INSERT INTO	
			users
		SET
			userID = #{userID},
			passwd = #{passwd},
			department = #{department},
			userRank = #{userRank},	
			userName = #{userName},
			userEmail = #{userEmail},
			userPhone = #{userPhone},
			companyNumber =#{companyNumber},
			userRegdate = now()
			
			<selectKey order="AFTER" resultType="int" keyProperty="uid">
			 select uid FROM users WHERE userID = #{userID} order by uid desc 
			 limit 1
			
				
			</selectKey>
	
	</insert>
	
<!-- 	그룹웨어 로그인하기 -->
	
	<select id="loginCheck" resultType="uservo">
	
		SELECT  uid ,userID, userName, auth FROM users
		WHERE userID = #{userID} AND passwd = #{passwd}
	
<!-- 		SELECT userID, userName, auth FROM users -->
<!-- 		WHERE userID = 'admin' AND passwd = '1111' -->
	
	</select>
	
<!-- idCheck(ajax) 회원가입 아이디확인하는 부분-->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM users WHERE userID = #{userID}
	</select>
	
<!-- 	로그 아웃 하기-->
	<update id="authUpdate" parameterType="hashMap">
		<!-- UPDATE 테이블 SET 변경할 컬럼 = 값 WHERE 조건 = 값 ; -->
		UPDATE users SET auth = #{auth} WHERE uid = #{uid}
	</update>
<!-- 	사원 권한 부여 -->
	
<!-- getUsersList 결과 가지고 오는 부분 -->
	<select id="getUsersList"  resultType="uservo">
		SELECT 
			uid, userID, auth, userName, userEmail,  userPhone,department, userRank, date_format(userRegdate,'%Y-%m-%d') as userRegdate
		FROM users
	
	 		<include refid="search"></include>
		
		 ORDER BY uid DESC limit #{start}, #{end}
	
	</select>
	
<!-- 	사원들 검색 과 페이징 처리 -->
	<select id="getUsersCount" resultType="int">
		SELECT COUNT(*) FROM users
			<include refid="search"></include>
	</select>	

	
</mapper>